body {
    font-family: "Montserrat";
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.display-container {
    width: 100%;
    height: 100%;
    position: relative;

    &__header {
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        background-color: rgba(101, 80, 54, 0.7);
        padding: 10px 40px;
        border-radius: 40px;
        position: absolute;
        left: 45%;
        top: 40px;
    }

    .map-container {
        width: 100%;
        height: 100%;
        background-image: url(./assets/images/content/map.png);
        background-position: 50% 50%;
        background-size: cover;
    }

    .display-content-container {
        position: absolute;
        top: 284px;
        left: 850px;

        .mark-place {
            width: 25px;
            height: 25px;
            background-color: rgb(234, 83, 83);
            border-radius: 50%;
            display: block;
            transition: all 0.3s ease;
        }
    }

    .display-board {
        position: absolute;
        right: 100px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        width: 650px;
        height: 280px;
        z-index: 120;
        opacity: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.timeline-container {
    position: absolute;
    background-image: url(./assets/images/content/scroll.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 550px;
    height: 100vh;
    padding: 180px 40px 180px 140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 500px;
    }

    &__header {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__content {
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
    }

    .timeline-container__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        flex: 250px 0 0;
        margin-bottom: 40px;
        width: 250px;
    }

    .container::-webkit-scrollbar {
        display: none;
    }
}

.js--hidden {
    display: none !important;
}

.js--normal {
    transform: scale(1) !important;
}

.js--hidden--slow {
    animation: fromFulltoEmpty 1s ease;
    opacity: 0;
}

.js--show--slow {
    animation: fromEmptytoFull 1s ease;
    opacity: 1 !important;
}

@keyframes fromFulltoEmpty {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fromEmptytoFull {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.white-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    transform: translateX(1440px);
}